
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 14% 96%;
    --foreground: 251 24% 20%;
    --card: 0 0% 100%;
    --card-foreground: 251 24% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 251 24% 20%;
    --primary: 251 24% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 14% 90%;
    --secondary-foreground: 251 24% 30%;
    --muted: 255 14% 90%;
    --muted-foreground: 251 24% 45%;
    --accent: 212 80% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 251 24% 85%;
    --input: 251 24% 85%;
    --ring: 251 24% 46%;
    --radius: 1rem;
  }

  .dark {
    --background: 251 24% 10%;
    --foreground: 255 14% 96%;
    --card: 251 24% 15%;
    --card-foreground: 255 14% 96%;
    --popover: 251 24% 15%;
    --popover-foreground: 255 14% 96%;
    --primary: 251 24% 60%;
    --primary-foreground: 251 24% 10%;
    --secondary: 251 24% 20%;
    --secondary-foreground: 255 14% 96%;
    --muted: 251 24% 20%;
    --muted-foreground: 251 24% 70%;
    --accent: 212 80% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 255 14% 96%;
    --border: 251 24% 25%;
    --input: 251 24% 25%;
    --ring: 251 24% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

.mobile-scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.mobile-scroll-container::-webkit-scrollbar {
  display: none;
}
